body {font-family: Arial, Helvetica, sans-serif;
      
}


        

body, div, h1, h2, h3, h4, h5, h6, ul, img {
    margin:0px 0px 0px 3px; 
    padding:0px;   
}

p {
    color:#044055;
    font-family:'Times New Roman';
    margin:2px 0 0 0;
    width: 573px;
    height: 72px;
}


#MainBody {   
                           
      background-color:#F0F0F0; 
      border:5px solid #707070;
      height:auto;
      width:1015px;
      margin:0px auto;
      border:1px solid #000;
      

     /*Border Radius*/
    border-radius:5px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;

    /*Box-Shadow*/
    box-shadow:1px 1px 4px #707070;
    -moz-box-shadow:1px 1px 4px #707070;
    -webkit-box-shadow:1px 1px 4px #707070;
      
}  

.Container {  
      width: 1000px;  
      margin:0 auto; 
      height:1150px;
      text-align:center;       
}


#MainBody .Container {  
    background-color:#E8E8E8;     
    border:5px solid #707070;
    height:1175px;
    margin:0 auto;    
    padding:0;
    
     /*Border Radius*/
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;

    /*Box-Shadow*/
    box-shadow:1px 1px 4px #000;
    -moz-box-shadow:1px 1px 4px #000;
   -webkit-box-shadow:1px 1px 4px #000;
     
      
} 
           #Header {  
        border-radius:15px;
        padding-top: 0px;         
        margin:0;  
    }

    /*Division Menu For Creating Menu Bar*/
#divMenu
 {
    width:995px;
    background-color:#666;
    margin-bottom: 2px;
}
      
   

/*Drawing a aline to separate paragraph*/
#divLine {
    width:566px;
    background:#707070;
    height:1px;
}

/*Drawing a aline to separate paragraph*/
#divLine1 {
    width:800px;
    background:#707070;
    height:8px;
}

/*Drawing a aline to separate paragraph*/
#divLine2 {
    width:800px;
    background:#707070;
    height:8px;
}

#divLine3 {
    width:800px;
    background:#686868;
    height:8px;
}

/*Drawing a aline to separate paragraph*/
#divLine4 {
    width:1000px;
    background:#707070;
    height:1px;
}
/*Drawing a aline to separate paragraph*/
#divLine5 {
    width:1000px;
    background:#707070;
    height:1px;
}




#divNav {
    width:868px;
    height:40px;
    background:#666;
    margin:0 auto;
}

#divNav ul li {
            float:left;
        }
                #divNav ul {  
        list-style: none;   
    }  

/*Change the links into block form displayed*/
        #divNav ul li a {
            display:block;
            width:120px;
            height:20px;
            line-height:20px;
            background:#666;
            font-size:0.8em;
            font-weight:bold;
            text-align:center;
            color:#FFF;
            text-decoration:none;
            margin:10px;

            /*Border-Radius*/
            border-radius:5px;
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            border:1px solid #000;

            /*Gradient*/
            background: -moz-linear-gradient(top #666 #333);
            background:-webkit-gradient(linear, left top, left bottom,from(#666) to(#333));
        }

        #divNav ul li a:hover {
                background:#333;
                background: -moz-linear-gradient(top #000 #666);
                background:-webkit-gradient(linear, left top, left bottom,from(#000) to(#666));
            }
            #divNav ul li a.current, #divNav ul li a.current:hover {
                background:#333;
                background: -moz-linear-gradient(top #000 #666);
                background:-webkit-gradient(linear, left top, left bottom,from(#000) to(#666));
                color:#f63;
                cursor:default;
            }

#Content {
    width: 800px;
    margin: 15px;
    float: left;
    background:#D8D8D8;
    border:5px solid #707070;
    height:1000px;
    

     /*Border Radius*/
    border-radius:10px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;

    /*Box-Shadow*/
    box-shadow:1px 1px 4px #000;
    -moz-box-shadow:1px 1px 4px #000;
    -webkit-box-shadow:1px 1px 4px #000;
     
}
    #content img {       
        border:1px solid #000;
        background:#333;
        padding:10px;
        margin:0.7em;

        /*Gradient*/
         background: -moz-linear-gradient(top #666 #333);
         background:-webkit-gradient(linear, left top, left bottom,from(#666) to(#333));

         /*Border Radius*/
         border-radius:15px;
         -moz-border-radius:15px;
         -webkit-border-radius:15px;

    }


   #Content h2 {  
        font-size: 36px;  
        color: #015878;
        padding:5px; 
        padding-right:10px;
        margin:20px auto;
        image-orientation:auto;
         
    }  
      
    #Content h3 {  
        font-size: 24px;  
        color: #044055; 
        padding-top: 20px;
        padding-bottom: 40px; 
        margin:15px;  
        font-family:Algerian;      
    }  
      
    #Content h4 {  
        font-size: 18px;  
        color: #044055;  
        font-weight: normal;
        margin:15px;   
    }  
      
    #Content p {  
        font-size: 16px;  
        color: #044055; 
        padding-top: 20px;
        margin:15px;  
    }  
      
    #Content small {  
        font-size: 12px;  
        color: #044055; 
        margin:0px;
          
    }  
      
    #Content a {  
        color: #0f6c8d;  
        font-weight: bold;  
        text-decoration: none;   
    }  

        #News {  
        padding-top: 5px;   
    }  
      
    #News h3 {  
        padding-bottom: 10px;   
    }  
      
    #News p {  
        padding-top: 5px;  
        padding-bottom: 80px;   
    }  

    

       
    #SideBar {  
        float: left;  
        margin-left: 25px;  
        margin-top: 15px;  
        background: #D8D8D8;  
        border: 1px solid #BEBDBD; 
        padding: 15px 15px 30px 15px;
        height:auto;

        border:5px solid #707070;

     /*Border Radius*/
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;

    /*Box-Shadow*/
    box-shadow:1px 1px 4px #000;
    -moz-box-shadow:1px 1px 4px #000;
    -webkit-box-shadow:1px 1px 4px #000;
     
    }  

        #SideBar h3 {  
        font-size: 24px;  
        color: #044055;  
        font-weight: bolder;  
        padding-bottom: 15px;  
        padding-left: 15px; 
        font-family:Algerian;  
    }  
      
    #SideBar ul li a {  
        font-size: 16px;  
        color: #393838; 
        font-family:'Bodoni MT';  
    }  

        ul#SideBar li a {  
        font-size: 28px;
        list-style-type:none;   
    }  

        ul#SideBar li {  
    padding-bottom: 10px; 
    padding-left: 15px;  
    
}  
            #SideBar ul {  
        list-style:circle;  
        padding-bottom: 15px; 
    }
                
                                                

#divcontent {
    float: left;
    width: 1000px;
    height: 1100px;
    margin: 0px;
    background: #222;
}
    #divAbout {
    width:1000px;    
    background:#D8D8D8;
    padding-top:0px;
    padding-bottom:0px;
    border:1px solid #000;
    

}
       
    #divcontent img {
        float:left;        
        background:#333;  
    }

    #divFooter {
    background:#D8D8D8;
    height:20px;
    width:1010px;
    border-bottom:1px solid #333;
    margin:0px auto;
    border:1px solid #000;
}

          


